<div class='browserview-external-surface hidden' id='browserview-external-surface' hidden role='button' tabindex='0' aria-label='Open selected page in browser'>
  <div class='browserview-external-panel'>
    <div class='browserview-external-icon'><i class="fa-solid fa-up-right-from-square" aria-hidden="true"></i></div>
    <div class='browserview-external-title' data-browserview-external-title>Click to open in browser</div>
    <div class='browserview-external-url' data-browserview-external-url></div>
  </div>
</div>
