<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
body {
  width: 100%;
  margin: 0;
  background: royalblue;
  color: white;
  padding: 50px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 40px;
  text-transform: uppercase;
}
pre {
  width: 100%;
}
footer {
  border-left: 4px solid white;
  padding: 10px 20px;
  margin-top: 50px;
}
footer ol {
  padding-inline-start: 20px;
  margin: 0;
  padding-top: 10px;
}
footer a {
  color: white;
  font-weight: bold;
}
</style>
</head>
<body>
<h1>Error</h1>
<pre><%=stack%></pre>
<footer>
  <div>You may want to try:</div>
  <ol>
    <li>Update Pinokio: Simply install the latest version, it should only update the app binary while keeping all the data in tact. <a href="https://program.pinokio.computer/#/?id=install" target="_blank">Go to Download Page</a></li>
    <li>Try troubleshooting: <a href="/?mode=settings#troubleshoot">Troubleshoot</a></li>
    <li>Ask in community Discord: <a href="http://localhost/?mode=help" target="_blank">Community</a></li>
  </ol>
</footer>
</body>
</html>
