<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link href="/xterm.min.css" rel="stylesheet" />
<link href="/css/fontawesome.min.css" rel="stylesheet">
<link href="/css/solid.min.css" rel="stylesheet">
<link href="/css/regular.min.css" rel="stylesheet">
<link href="/css/brands.min.css" rel="stylesheet">
<link href="/markdown.css" rel="stylesheet"/>
<link href="/noty.css" rel="stylesheet"/>
<link href="/style.css" rel="stylesheet"/>
<% if (agent === "electron") { %>
  <link href="/electron.css" rel="stylesheet"/>
<% } %>
<style>
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 14px;
  font-family: Sans-serif;
}
#terminal {
  text-align: left;
  margin: 30px 0;
}



.animate {
  animation: animate 3s ease;
}

@-webkit-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 0;
  }
  100% {
    transform: scale(0, 0);
    opacity: 0;
  }
}
@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 0;
  }
  100% {
    transform: scale(0, 0);
    opacity: 0;
  }
}
</style>
<script src="/sweetalert2.js"></script>
<script src="/noty.js"></script>
<script src="/notyq.js"></script>
<script src="/xterm.js"></script>
<script src="/xterm-addon-fit.js"></script>
<script src="/xterm-addon-web-links.js"></script>
<script src="/xterm-theme.js"></script>
<script src="/sweetalert2.js"></script>
<script src="/Socket.js"></script>
<script>
document.addEventListener("DOMContentLoaded", () => {
  document.querySelector("#launch").addEventListener("click", async (e) => {
    document.querySelector(".loading").classList.add("hidden")
    document.querySelector("#launch").classList.add("hidden")
    let audio = new Audio('beep.wav');

    audio.play();
    let scripts = await fetch("/script/start").then((res) => {
      return res.json()
    })

    if (scripts.length > 0) {

      let socket = new Socket()
      const n = new N()

      for(let script of scripts) {
        // start script path exists
        if (script.script.start) {
          document.querySelector(".loading").classList.remove("hidden")
          let name
          document.querySelector(".loading span").innerHTML = "starting " + script.uri
          await new Promise((resolve, reject) => {
            socket.run({
              //uri: script.path + "/" + script.script.start
              //uri: "/api/" + script.name + "/" + script.script.start
              uri: "~" + script.path + "/" + script.script.start
            }, (packet) => {
              if (packet.type === "started") {
                resolve()
              } else if (packet.type === "stream") {
                resolve()
  //              term.write(packet.data.raw)
              } else if (packet.type === "result") {
                resolve() 
              } else if (packet.type === "error") {
                n.Noty({
                  text: packet.data
                })
              }
            })
          })
          socket.close()
        }

//        n.Noty({
//          text: `${script.name} started!`,
//        })
//        audio.play();
      }
    }
//    document.querySelector(".loading").classList.add("hidden")
    document.body.classList.add("animate")
    setTimeout(() => {
      document.body.innerHTML = ""
      location.href = location.href
    }, 1000)
  })
})
</script>
</head>
<body class='fullscreen'>
<div class='bootstrap'>
  <div class='intro'>
    <h1><img src='/pinokio-white.png'><div>pinokio</div></h1>
    <button id='launch' class='btn'><i class="fa-solid fa-play"></i> Start</button>
  </div>
  <div class='loading hidden'><i class="fa-solid fa-circle-notch fa-spin"></i> <span>booting up...</span></div>
  <div id='terminal'></div>
</div>
</body>
</html>
