header > * {
  -webkit-app-region: no-drag !important;
  cursor: auto;
}
header {
  cursor: grab;
  -webkit-app-region: drag;
  padding: 35px 10px 10px !important;
  /*
  padding: 45px 15px 20px !important;
  */
}
body.fullscreen {
  cursor: grab;
  -webkit-app-region: drag;
}
body.fullscreen > * {
  -webkit-app-region: no-drag !important;
  cursor: auto;
}
